<header>
    <div id="title">
        <img src="/components/images/img-logo/WF_logo_branca_transparent.png" alt="logo-WF">
    </div>

    <nav id="nav-menu"> <ul>
        <a href="/index.html"><li>Início</li></a>
        <a href="/pages/works/trabalhos.html"><li>Trabalhos</li></a>
        <a href="/pages/about/sobre.html"><li>Sobre</li></a>
        <a href="/pages/contact/contato.html"><li>Contato</li></a>
    </ul>
</nav>

<div class="menu-toggle" id="mobile-menu-toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>
</header>